.box {
    height: 150px;
    width: 150px;
    border: 7px solid rgb(255, 238, 7);
    background-color: white;
    animation: move 4s infinite alternate;
    position: relative;

}

@keyframes move {
    0% {
        top: 0;
        left: 0;
       
    }

    

    50% {
        top: 350px;
        left: 400px;
        background-color: green;
        transform: rotate(180deg);
    }


    100% {
        top: 0;
        left: 0;
        background-color: blue;
        transform: rotate(0deg);
    }
}

move {}

body {
    background-color: aquamarine;
}