 * {
     padding: 0;
     margin: 0;
     font-family: Georgia;
 }

 .navbar {
     display: flex;
     justify-content: space-between;
     background-color: #595859;
     padding: 5px 20px;
     color: white;
 }

 .logo {
     margin-top: 18px;
 }

 .nav-links {
     list-style: none;
     display: flex;
     margin-top: 18px;
     gap: 10px;

 }

 .nav-links li a {
     color: white;
     text-decoration: none;
 }

 .nav-links li a:hover {
     text-decoration: underline;
 }

 .user-logo {
     height: 50px;
     width: 50px;
     border-radius: 50%;

 }

 .container {
     display: flex;
     justify-content: space-around;
     align-items: center;
     height: 300px;
     padding: 20px;
     background-color: wheat;
 }

 .box {
     height: 150px;
     width: 30%;
     background-color: dodgerblue;
     color: white;
     text-align: center;
     align-content: center;
     font-size: 1.5rem;
     border-radius: 10px;
 }

 .burger-menu {
     font-size: larger;
     display: none;
     font-weight: bolder;
     cursor: pointer;
     margin-top: 18px;
 }

 @media screen and (max-width: 500px) {
     .nav-links {
         display: none;
     }

     .burger-menu {
         display: block;
     }
 }