
        ul{
            background-color: black;
            overflow: auto;
            padding: 15px;
        }
        li{
            float: left;
            color: white;
            list-style: none;
        }
        a{
            text-decoration: none;
            color: white;
            margin-left: 20px;
        }
        .center{
            margin-left: 35%;
        }

        .contact{
            float: right;
            margin-right: 35px;
            height: 20px;
            width: 100px;
            padding: 10px 0;
            background-color: aquamarine;
            border-radius: 20px;
        
        }