*{
margin: 0;
padding: 0;


}

/* header  */

.navbar{
height: 100px;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
position: absolute;
z-index: 2;

}

.logo{
  color: #E50914;
  margin-left: 5rem;
font-size: 1.5em;
padding-left: 3rem;
text-transform: uppercase;


}

.nav-button{
display: flex;
padding: 5rem;
 align-items: center;
gap: 2rem;

}

.language select{
 padding: 0.4rem 0.8rem; 
font-size: 1.3em;
border-radius: 0.5rem;
 
}

.signIn{
  padding: 0.4rem 0.8rem;
    font-size: 1.3em;
    border-radius: 0.5rem;
background-color: #E50914;
font-weight: 700;
}

/* hero section */
.mainImg{
  width: 100%;
height: 100vh;
background-size: cover;
}

.hero{
position: relative;
width: 100%;
}

.mainImg{
height: 100vh;
width: 100%;
object-fit: cover;
}

.hero-container{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
text-align: center;
width: 40%;
font-size: 2rem;
line-height: 1.9em;
}

.firstpara{
  font-size: 1.5rem;
font-weight: 700;
}
.secondpara{
font-size: 1.4rem;
}


.emailGroup{
display: flex;
align-items: center;
justify-content: center;
gap: 1rem;

}

#email{
padding: 1.2rem;
width: 55%;
font-size: 1rem;
border: 1px solid white;
background-color: black;
color: white;
border-radius: 5px;
}
.getStarted{
border: 1px solid;
padding: 0 1.5rem;
background-color: #E50914;
font-weight: 700;
}

/* hr line */


/* imgpart */
.imgdiv{
 text-align: center;
background-color: black;
 border: 1px solid black;
padding: 30px;
}

.imgdiv:hover{
 border: 1px solid white;
}

.trending{
 
padding:1rem ;
color: aliceblue;
}
.imgpart{
display: flex;
justify-content: space-around;
align-items: center;
 padding: 2rem;

}

.imgpart img{
border-radius: 5px;
border: 2px solid black;
opacity: 0.8;
}

.imgpart img:hover{
 border: 2px solid #E50914;
opacity: 1;
}


/* resion to join */

.resion{

color: white;
display: flex;
 justify-content: center;
align-items: center;
}

.join-content{
border: 1px solid white;
margin: 15px 30px;
padding: 25px 30px;
 height: 300px;
width: 200px;
border-radius: 15px;
display: flex;
flex-direction: column;
gap: 1.9rem;
text-align: justify;
font-size: 1.3em;
opacity: 0.8;
}

.join-content:hover{
border: 1px solid #E50914 ;
color: #E50914;
opacity: 1;
}

/* askedquestion */

.askedquestion{
  color: white;
  display: flex;
  text-align: left;
justify-content: space-between;
flex-direction: column;


}

.qued{
margin: 10px 75px;
background-color: rgb(50, 49, 49);
padding: 25px;
font-size: 1.5em;
}

.fa-plus{
float: right;
}

/* emailSignUp */

.emailSignUp{
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
 padding-bottom: 20px;
 gap: 25px;
 background-color: black;
color: white;
}

.paraemail{
padding-top: 25px;
}
 /* contact */

.contact{
padding: 50px;
}

 /*information  */

.information{
  display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 50px;
background-color: black;
color: white;
}


.link{
padding: 0px 20px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 7px;
}

.link a{
text-decoration: none;
color: white;
font-size: 1.2em;
padding-bottom: 10px;
}

.link a:hover{
color: rgb(61, 145, 172);
text-decoration: underline;
}

/* footer */

 footer{
 height: 100px;
width: 100%;
background-color: black;
color: white;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
font-size: 1.3em;
gap: 5px;
}